<!DOCTYPE html>
<html>
<head>
	<title>Oneliner</title>
	<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"%>	
	<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
	<%= javascript_include_tag "jquery-rails.js"%>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
	<h2>Onliner's</h2>
	</div>
	<div id="content">
		<%= yield%>
	</div>
	<div id="comments">
		
	</div>
	<div id="footer">
		<p>Footer</p>
	</div>


</body>
</html>
